# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
lyrics/
venv/
.venv/
env/

# Deep Learning checkpoints & models (Too large for GitHub!)
checkpoints/
*.safetensors
*.bin
*.pt
*.pth

# IDE settings
.vscode/
.idea/

# Local OS files
.DS_Store
Thumbs.db
